table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
  }
  

  tr:hover{
    cursor: pointer;
  }
  tr:first-child {
    cursor: default;
  }
  tr:not(:first-child):hover {
    background: bisque;}