table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color: #ddd;
  }
  
  td:nth-child(even) {
    background-color: #a6dcef;
  }
  
  td:nth-child(odd) {
    background-color: #d8a6ef;
  }